.toast {
  animation: slideInLeft ease 0.3s, fadeOut linear 1s 2.5s forwards;
}

.open-menu {
  animation: openMenu linear 0.2s;
}

.mini__cart {
  transform-origin: top center;
  animation: slideDown 0.3s ease-in-out forwards;
}

.prev__button:hover i {
  animation: prevNavSlide 0.4s;
}

.next__button:hover i {
  animation: nextNavSlide 0.4s;
}

.btn__item:hover .icon__item {
  animation: btnIconSlide 0.4s;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes openMenu {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes prevNavSlide {
  0% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-5px);
    opacity: 0;
  }
  80% {
    transform: translateX(5px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes nextNavSlide {
  0% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(5px);
    opacity: 0;
  }
  80% {
    transform: translateX(-5px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes btnIconSlide {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-5px);
    opacity: 0;
  }
  80% {
    transform: translateY(5px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
